doctype html
html
    head
        title Blog App
        link(href='/css/bootstrap.css', rel='stylesheet')
        link(href="/css/style.css" rel="stylesheet")
    body
        .container
            nav.navbar.navbar-inverse
                .navbar-header
                    a.navbar-brand(href="#") Blog App
                .container-fluid
                    ul.nav.navbar-nav
                        li 
                            a(href="/") Home
                        li
                            a(href="/about") About
                    ul.nav.navbar-nav.navbar-right
                        if (currentUser)
                            li
                                p.navbar-text Welcome, #{currentUser.username}!
                            li                            
                                form#logout.navbar-form(method="post" action="/users/logout")
                                    button.btn.btn-info("javascript:document.getElementById('logout').submit()") Logout
                        else
                            li
                                a(href="/users/register") Register
                            li
                                a(href="/users/login") Log In

            if globalError
                .alert.alert-danger #{globalError}
            block main-content

            .well.footer
                p &copy; All Rights Reserved, 2016
        
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
            script(src='/js/bootstrap.js')