doctype html
html
    head
        title Blog App
        link(href="/css/style.css" rel="stylesheet")
    body
        .container
            header
                h1 Blog App
                ul.menu
                    li 
                        a(href="/") Home
                    li
                        a(href="/about") About

            block main-content

            footer 
                p &copy; All Rights Reserved, 2016