extends ../shared/layout
block main-content
    h1 Create new user
    form(method="post" action="/users/create")
        label(for="username") Username
        br
        input(type="text" name="username" id="username")
        label(for="password") Password
        br
        input(type="password" name="password" id="password")